<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="widget-container">
        <div id="sticky-widget" class="sticky">
            <div class="header-exp">
                <div id="logo-container-exp">
                    <img id="logo-exp" src="" class="href" data-href="?rfrr=browser.Hotel.Plugin">
                </div>
            </div>
            <div class="main-exp">
                <div class="hotel-name-exp">
                    <!-- <a target="_blank" href="/Hotel_Review-g187147-d228818-Reviews-Le_Meridien_Etoile-Paris_Ile_de_France.html" id="property_228818" class="property_title" onclick="ta.setEvtCookie('Reviews', 'HotelName', 228818, 1, this.href);ta.fireEvent('hotels_lists_engagement_tracking.fired', {type: 'HotelName', element: this});" dir="ltr"></a>
 -->
                </div>
                <div class="price-block-exp">
                    <div class="save-text-exp">
                        <span>SAVE</span>
                        <span class="currency">&#8377;</span>
                        <span class="saving"></span>
                    </div>
                    <div class="xthrough-exp">
                        <div class="circle-red blink"></div>
                        <span class="currency">&#8377;</span>
                        <span class="price"></span>
                    </div>
                    <div class="final-price-exp">
                        <span class="currency">&#8377;</span>
                        <span class="price"></span>
                    </div>
                    <div class="member-ony-note">Members Only</div>
                </div>
            </div>
            <div class="footer-exp">
                <button class="view-deal-btn-exp">
                    <a class="view-deal-link-exp" href="" target="_blank">View Deal</a>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
