<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="widget-container">
        <div id="sticky-widget" class="sticky">
            <div class="header-exp">
                <div id="logo-container-exp">
                    <img id="logo-exp" src="" class="href" data-href="?rfrr=browser.Hotel.Plugin">
                </div>
            </div>
            <div class="main-exp">
                <div class="hotel-name-exp">
                    <a target="_blank" href="/Hotel_Review-g187147-d228818-Reviews-Le_Meridien_Etoile-Paris_Ile_de_France.html" id="property_228818" class="property_title" onclick="ta.setEvtCookie('Reviews', 'HotelName', 228818, 1, this.href);ta.fireEvent('hotels_lists_engagement_tracking.fired', {type: 'HotelName', element: this});" dir="ltr">Le Meridien Etoile</a>
                </div>
                <div class="price-block-exp">
                    <div class="save-text-exp">SAVE &#8377; 200</div>
                    <div class="xthrough-exp">&#8377; 27777</div>
                    <div class="final-price-exp">&#8377; 7879778</div>
                    <div class="member-ony-note">Members Only</div>
                </div>
            </div>
            <div class="footer-exp">
                <button class="button-exp">View Deal</button>
            </div>
        </div>
    </div>
</body>

</html>
