<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="widget-container">
        <div id="sticky-widget" class="sticky">
            <div class="header-exp">
                <div id="logo-container-exp">
                    <img id="logo-exp" src="" class="href" data-href="?rfrr=browser.Hotel.Plugin">
                </div>
            </div>
            <div class="main-exp">
                <div class="hotel-name-exp">
                </div>
                <div class="price-block-exp">
                    <div class="save-text-exp">
                        <span>SAVE</span>
                        <span class="currency">&#8377;</span>
                        <span class="saving"></span>
                    </div>
                    <div class="xthrough-exp">
                        <div class="beacon"></div>
                        <div><span class="currency">&#8377;</span>
                        <span class="price"></span></div>
                    </div>
                    <div class="final-price-exp">
                        <div class="beacon"></div>
                        <div><span class="currency">&#8377;</span>
                        <span class="price"></span></div>
                    </div>
                    <div class="member-ony-note">Members Only</div>
                </div>
            </div>
            <div class="footer-exp">
                <button class="view-deal-btn-exp">
                    <a class="view-deal-link-exp" href="" target="_blank">View Deal</a>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
